<?xml version="1.0" encoding="utf-8"?>
<config menu="hide">
	<params addpath="/administrator/components/com_artofgm/helpers/elements">
		<param
			name="server"
			type="text"
			size="50"
			label="COM_ARTOFGM_PARAM_SERVER_LABEL"
			description="COM_ARTOFGM_PARAM_SERVER_DESC" />

		<param
			name="dl_method"
			type="radio"
			default="fopen"
			label="COM_ARTOFGM_PARAM_DL_METHOD_LABEL"
			description="COM_ARTOFGM_PARAM_DL_METHOD_DESC"
		>
			<option
				value="fopen"
			>COM_ARTOFGM_PARAM_DL_METHOD_FOPEN</option>
			<option
				value="curl"
			>COM_ARTOFGM_PARAM_DL_METHOD_CURL</option>
		</param>

		<param
			name="site"
			type="text"
			size="50"
			default=""
			label="COM_ARTOFGM_PARAM_SITE_LABEL"
			description="COM_ARTOFGM_PARAM_SITE_DESC" />
			
		<param
			name="client"
			type="text"
			size="50"
			default=""
			label="COM_ARTOFGM_PARAM_CLIENT_LABEL"
			description="COM_ARTOFGM_PARAM_CLIENT_DESC" />

		<param
			type="help"
			style="heading"
			default="COM_ARTOFGM_PARAMS_PAGE_OPTIONS"
			/>

		<param
			type="radio"
			name="use_stylesheet"
			label="COM_ARTOFGM_PARAM_USE_STYLESHEET_LABEL"
			description="COM_ARTOFGM_PARAM_USE_STYLESHEET_DESC"
			default="1">
			<option value="1">YES</option>
			<option value="0">NO</option>
		</param>

		<param
			type="help"
			style="heading"
			default="COM_ARTOFGM_PARAMS_BASIC_FORM_OPTIONS"
			/>

			<param
				type="radio"
				name="show_advanced_search"
				label="COM_ARTOFGM_PARAM_SHOW_ADVANCED_SEARCH_LABEL"
				description="COM_ARTOFGM_PARAM_SHOW_ADVANCED_SEARCH_LABEL"
				default="1">
				<option value="1">YES</option>
				<option value="0">NO</option>
			</param>

			<param
				type="radio"
				name="show_limit"
				label="COM_ARTOFGM_PARAM_SHOW_LIMIT_LABEL"
				description="COM_ARTOFGM_PARAM_SHOW_LIMIT_DESC"
				default="1">
				<option value="1">YES</option>
				<option value="0">NO</option>
			</param>

		<param
			type="help"
			style="heading"
			default="COM_ARTOFGM_PARAMS_ADVANCED_FORM_OPTIONS"
			/>

		<param
			type="radio"
			name="show_language"
			label="COM_ARTOFGM_PARAM_SHOW_LANGUAGE_LABEL"
			description="COM_ARTOFGM_PARAM_SHOW_LANGUAGE_DESC"
			default="0">
			<option value="1">YES</option>
			<option value="0">NO</option>
		</param>

		<param
			type="radio"
			name="show_filetypes"
			label="COM_ARTOFGM_PARAM_SHOW_FILETYPES_LABEL"
			description="COM_ARTOFGM_PARAM_SHOW_FILETYPES_DESC"
			default="0">
			<option value="1">YES</option>
			<option value="0">NO</option>
		</param>

		<param
			type="radio"
			name="show_occurences"
			label="COM_ARTOFGM_PARAM_SHOW_OCCURENCES_LABEL"
			description="COM_ARTOFGM_PARAM_SHOW_OCCURENCES_DESC"
			default="0">
			<option value="1">YES</option>
			<option value="0">NO</option>
		</param>

		<param
			type="radio"
			name="show_domain"
			label="COM_ARTOFGM_PARAM_SHOW_DOMAIN_LABEL"
			description="COM_ARTOFGM_PARAM_SHOW_DOMAIN_DESC"
			default="0">
			<option value="1">YES</option>
			<option value="0">NO</option>
		</param>

		<param
			type="radio"
			name="show_links"
			label="COM_ARTOFGM_PARAM_SHOW_LINKS_LABEL"
			description="COM_ARTOFGM_PARAM_SHOW_LINKS_DESC"
			default="0">
			<option value="1">YES</option>
			<option value="0">NO</option>
		</param>

		<param
			type="radio"
			name="show_sort"
			label="COM_ARTOFGM_PARAM_SHOW_SORT_LABEL"
			description="COM_ARTOFGM_PARAM_SHOW_SORT_DESC"
			default="0">
			<option value="1">YES</option>
			<option value="0">NO</option>
		</param>

		<param
			type="help"
			style="heading"
			default="COM_ARTOFGM_PARAMS_RESULTS_OPTIONS"
			/>

		<param
			type="radio"
			name="show_snippet"
			label="COM_ARTOFGM_PARAM_SHOW_SNIPPET_LABEL"
			description="COM_ARTOFGM_PARAM_SHOW_SNIPPET_DESC"
			default="1">
			<option value="1">YES</option>
			<option value="0">NO</option>
		</param>

		<param
			type="text"
			name="truncate_url"
			label="COM_ARTOFGM_PARAM_TRUNCATE_URL_LABEL"
			description="COM_ARTOFGM_PARAM_TRUNCATE_URL_DESC"
			size="6"
			default="75" />

		<param
			type="text"
			name="truncate_suffix"
			label="COM_ARTOFGM_PARAM_TRUNCATE_SUFFIX_LABEL"
			description="COM_ARTOFGM_PARAM_TRUNCATE_SUFFIX_DESC"
			size="6" />

		<param
			type="radio"
			name="show_cached_size"
			label="COM_ARTOFGM_PARAM_SHOW_CACHED_SIZE_LABEL"
			description="COM_ARTOFGM_PARAM_SHOW_CACHED_SIZE_DESC"
			default="0">
			<option value="1">YES</option>
			<option value="0">NO</option>
		</param>

		<param
			type="radio"
			name="show_crawl_date"
			label="COM_ARTOFGM_PARAM_SHOW_CRAWL_DATE_LABEL"
			description="COM_ARTOFGM_PARAM_SHOW_CRAWL_DATE_DESC"
			default="0">
			<option value="1">YES</option>
			<option value="0">NO</option>
		</param>

		<param
			type="help"
			style="heading"
			default="COM_ARTOFGM_PARAM_PROXY_LEGEND" />

		<param
			name="dl_proxy"
			type="radio"
			default="0"
			label="COM_ARTOFGM_PARAM_DL_PROXY_LABEL"
			description="COM_ARTOFGM_PARAM_DL_PROXY_DESC"
		>
			<option
				value="0"
			>No</option>
			<option
				value="1"
			>Yes</option>
		</param>

		<param
			name="dl_proxy_host"
			type="text"
			size="50"
			label="COM_ARTOFGM_PARAM_DL_PROXY_HOST_LABEL"
			description="COM_ARTOFGM_PARAM_DL_PROXY_HOST_DESC" />

		<param
			name="dl_proxy_port"
			type="text"
			label="COM_ARTOFGM_PARAM_DL_PROXY_PORT_LABEL"
			description="COM_ARTOFGM_PARAM_DL_PROXY_PORT_DESC" />

		<param
			name="dl_proxy_user"
			type="text"
			label="COM_ARTOFGM_PARAM_DL_PROXY_USER_LABEL"
			description="COM_ARTOFGM_PARAM_DL_PROXY_USER_DESC" />

		<param
			name="dl_proxy_pass"
			type="password"
			label="COM_ARTOFGM_PARAM_DL_PROXY_PASS_LABEL"
			description="COM_ARTOFGM_PARAM_DL_PROXY_PASS_DESC" />

	</params>
</config>